@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway-Italic-VariableFont_wght.ttf);
    src: url(fonts/Raleway-VariableFont_wght.ttf);
}


body {
    font-family: Raleway;
    margin-left: 20px;
    margin-right: 20px;
}



/* Logo et barre de navigation */

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    block-size: 50px;
    margin-bottom: 25px;
}

header img {
    block-size: 50px;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0%;
 }

header ul li {
    color: #0065FC;
    font-size: 11px;
    font-weight: bold;
    padding-right: 2rem;
}

header a {
    color: #7a7a7a;
    text-decoration: none;
    padding-top: 20px;
}

header a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/* Titre et sous-titre de l'index */

.recherche h1 {
    font-size: 18px;
    font-weight: 900;
    margin: 0 0 10px 0;
}

.recherche > p{
    font-size: 13px;
    margin: 0px;
}



/* Barre de recherche */

 .search-input {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.search-input input{
    border: 1px solid #F2F2F2;
    border-radius: 10px 10px 10px 10px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.search-input input[type=text]{
    padding-left: 40px;
    font-weight: bold;
}

.search-input input:focus{
    outline:none;
}

.search-input i{
    display: flex;
    position: absolute;
    padding: 10px;
    margin-left: -1px;
    font-size: 12px;
    background-color:#F2F2F2;
    border-radius: 10px 0px 0px 10px;
}

.search-input button{
    display: flex;
    align-items: center;
    background-color: #0065FC;
    font-family: Raleway;
    color: white;
    border: 1px solid #0065FC;
    border-radius: 0px 10px 10px 0px;
    margin-left: -5px;
    font-size: 12px;
}



/* Filtres */

.filtres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
}

.filtres ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 0%;
}

.filtres p {
    font-weight: 900;
    font-size: 16px;
}

.filtres li {
    display: flex;
    position: relative;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 50px;
    padding: 4px 1rem 4px 2.5rem;
    margin-left: 1.5rem;
    font-weight: 700;
    font-size: 16px;
    }

.filtres li:hover {
    background-color:#DEEBFF;
    transition-duration: 1s;
}

.filtres i {
    font-size: 12px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 20px;
    background: #DEEBFF;
    color: #0065FC;
    left: 0px;
}



/* Nombre de logements trouvé par l'outil de recherche  */

.input-results{
    display: flex;
    align-items: center;
}

.input-results > p{
    display: flex;
    font-size: 12px;
    margin: 10px;
}

.icon-circle {
    display: flex;
    border-radius: 50px 50px 50px 50px;
    border: 1px solid #F2F2F2;
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
}

.fa-info{
    display: flex;
    color: #0065FC;
    font-size: 11px;
}



/* Hebergements */

.hebergements{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.stars{
    font-size: 8px;
    color: #F2F2F2;
}

.bluestar{
    color:#0065FC;
}



/* Hôtels */

.hotels {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color:#F2F2F2;
    border-radius: 20px 20px 20px 20px;
    margin-right: 10px;
}
.hotels h2{
    padding-left: 43px;
    margin-top: 20px;
    font-size: 18px;
}

.hotels h4{
    font-size: 14px;
    font-weight: bold;
    padding-left: 43px;
}



/* Cartes hôtels */

.hotel-cards-organisation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hotel-cards{
    box-shadow: 0px 4px 20px -7px #5d5d5d;
    background-color: white;
    padding: 4px;
    border-radius: 20px 20px 20px 20px;
    height: 153px;
    width: 25%;
    margin-bottom: 15px;
}

.hotel-cards img{
    border-radius: 20px 20px 0px 0px;
    height:86px;
    width: 100%;
    object-fit:cover;
    margin-bottom: 5px;
}

.hotel-cards h3, .hotel-cards p {
    margin: 0;
    margin-bottom: 5px;
    padding-left: 10px;
}

.stars{
    padding-left: 10px;
}


.hotel-cards h3{

    font-size: 13px;
}

.hotel-cards p{
    font-size: 11px;
}



/* Populaires */

.populaires{
    width: 30%;
    background-color:#F2F2F2;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    padding-left: 2%;
    padding-right: 2%;
}

.populaires h2{
    font-size: 18px;
    margin: 0;
}

.populaires-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}



/* Cartes hôtels populaires */

.populaires-cards-organisation{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.populaires-cards{
    width: 100%;
    height: 115px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 4px 20px -7px #808080; 
    display: flex;
    align-content: flex-start;
    margin: 10px;
    padding: 4px;
}

.populaires-cards img{
    height: 100%;
    width: 30%;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.populaires-cards-contents{
    width: 70%
}

.populaires-cards h3, .populaires-cards p{
    padding-left: 10px;
    margin: 5px 0;
}

.populaires-cards h3{
    font-size: 13px;
}

.populaires-cards p{
    font-size: 11px;
}

.populaires-cards i{
    margin-top: 50px;
}



/* Section Activités à Marseilles */

.activites{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 470px;
    width: 100%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.activites-title{
    position: absolute;
    top: -23px;
    left: 0;
    font-size: 18px;
    font-weight: bold;
}



/* Cartes Activités à Marseilles */

.activites-cards-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    width: 23%;
}

.activites-cards-section h3{
    margin: 0;
    font-size: 13px;
    margin: 5px 20px 10px 20px;
}

.activites-cards-40 {
    border-radius: 20px 20px 20px 20px;
    height: 35%;
    width: 100%;
    box-shadow: 0px 4px 20px -7px #AEAEAE;
}

.activites-cards-40 img{
    height: 72%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activites-cards-50{
    border-radius: 20px 20px 20px 20px;
    height: 45%;
    width: 100%;
    box-shadow: 0px 4px 20px -7px #AEAEAE;
}

.activites-cards-50 img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activites-cards-60{
    border-radius: 20px 20px 20px 20px;
    height: 55%;
    width: 100%;
    box-shadow: 0px 4px 20px -7px #AEAEAE;
}

.activites-cards-60 img{
    height: 82%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activites-cards-100{
    border-radius: 20px 20px 20px 20px;
    height: 100%;
    width: 100%;
    box-shadow: 0px 4px 20px -7px #AEAEAE;
    }
    
.activites-cards-100 img{
    height: 90%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}



/* Footer */

footer{
    display: flex;
    background-color: #F2F2F2;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 40px;
    padding-top: 50px;
}

.footer-section{
    margin-left: 50px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
}

footer h3{
    font-size: 14px;
    margin: 0;
}

footer ul{
    list-style-type: none;
    padding: 0;
    font-size: 12px;
}

footer li{
    padding: 4px 0px;
}



/* Media Queries */

@media (min-width: 1440px) {

    body {
      margin-left: 200px;
      margin-right: 200px;
    }
  }